<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <title>Login</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>  
<body class="w3-dark-grey">
    <div class="w3-display-middle">
        <div class="w3-container" style="width: 500px;">
            
            <div class="w3-card-4">
            <div class="w3-container w3-green">
                <h2>Iniciar sesion</h2>
            </div>
        
            <form class="w3-container" method="post" action="/log">
                <p>
                <input class="w3-input" type="text" name="correo">
                <label class="w3-text-white">Correo electronico</label></p>
                <p>     
                <input class="w3-input" type="password" name="pass">
                <label class="w3-text-white">Contaseña</label></p>
                <p>      
                    <input type="submit" class="w3-btn w3-white" value="Acceder"></p>
                    <p>      
                        <a class="w3-btn w3-white" href="/Usuario">registrarse</a></p>
            </form>
            </div>
        </div>
    </div>

<!-- Hacemos uso de footer para el pie de pagina-->
<div class="w3-display-bottommiddle"><nav><footer>Contáctanos al 9921034440 o envía un correo a torcou22@gmail.com</footer></nav></div>
</body>
</html>